<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDuZQqC2RoKr3IbB-jlYZfNw3koz2w5fo0</string>
	<key>GCM_SENDER_ID</key>
	<string>979559903940</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.simpleLoginApp</string>
	<key>PROJECT_ID</key>
	<string>simple-login-app-4503e</string>
	<key>STORAGE_BUCKET</key>
	<string>simple-login-app-4503e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:979559903940:ios:a9d4502eb1d06cd515cf91</string>
</dict>
</plist>